{% import "../../data/_map.html" as map %}

<!-- begin map  -->
<div class="map">
	<div class="map__img" id="map"></div>
	<div class="map__content">
		<div class="inner">
			<div class="contacts">
				<ul class="contacts-phones">
					{% for item in map.phones %}
						<li class="contacts-phones__item">
							{#<a href="{{item.link}}" class="contacts-phones__link">{{item.text}}</a>#}
							<div class="tel--hidden tel--black">
								<p>
									Посмотреть и позвонить
								</p>
								<p class="tel__text--hidden">
									+7 (914) xxx-xx-xx
								</p>
							</div>
							<div class="tel--visible  tel--black">
								<p>
									Посмотреть и позвонить
								</p>
								<a href="tel:+79147006877" class="hidden__content">+7 (914) 700-68-77</a>
							</div>
						</li>
					{% endfor %}
				</ul>
				<ul class="contacts-info">
					{% for item in map.info %}
						<li class="contacts-info__item">{{mixins.icon(item.icon)}} {{item.text | safe}}</li>
					{% endfor %}
				</ul>
				<ul class="contacts-social">
					{% for item in map.social %}
						<li class="contacts-social__item">
							<a href="#" class="contacts-social__link contacts-social__link_{{item}}">{{mixins.icon(item)}}</a>
						</li>
					{% endfor %}
				</ul>
				<div class="contacts__btn">
					<a href="#services" class="btn btn_fill js-go-to">{{map.btn}}</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end map -->