{% import "../../data/_products.html" as products %}

<!-- products -->
<section class="products">
  <div id="products"></div>
  <div class="products__inner inner">
    <div class="heading">
      <h3 class="title-md">Наша продукция</h3>
      <a class="btn btn--fade_modal">Скачать оптовый прайс</a>
      <aside class="modals" id="modals">
        <div class="headers">
          <h3 class="modals__title">Получение оптового прайса</h2>
        </div>
        <section>
          <p class="modals__text">
            Мы пришлем вам прайс по почте
          </p>
          <form name="download_price" class="js-form price-form">
            <div class="wrapper_inp">
              <input type="text" class="modals__inp" name="name" placeholder="Имя">
              <input type="text" class="modals__inp" name="email" placeholder="Email">
              <input type="text" id="phone_mask_modal" name="phone" class="modals__inp phone-field" placeholder="Телефон">
            </div>
            <button type="submit" class="btn">Получить</button>
          </form>
        </section>
        <div class="footers">
          <a class="btn_close">Закрыть</a>
        </div>
      </aside>
    </div>
    <div class="products__list js-product-list">
      {% for item in products.items %}
      <div class="product js-product">
        <a href="#" class="product__link js-product-link" data-name="product-modal" data-type="{{ item.type }}">
          <span class="product__picture">
							<span class="product__img">{% include item.svgLink %}</span>
          </span>
          <span class="product__name">{{ item.text }}</span>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- ¯\_(ツ)_/¯ -->
