{% import "../../data/_products.html" as products %}

<!-- products -->
<section class="products" id="products">
	<div class="products__inner inner">
		<div class="heading">
			<h3 class="title-md">Наша продукция</h3>
			<a href="#" class="btn" download>Скачать оптовый прайс</a>
		</div>
		<div class="products__list js-product-list">
			{% for item in products.items %}
				<div class="product js-product">
					<a href="#" class="product__link js-product-link" data-name="{{ item.name }}">
						<span class="product__picture">
							<span class="product__img">{% include item.svgLink %}</span>
						</span>
						<span class="product__name">{{ item.text }}</span>
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
<!-- ¯\_(ツ)_/¯ -->