{% import "../../data/_services.html" as services %}

<!-- begin services  -->
<div class="services">
	<div id="services"></div>
	<div class="inner">
		<div class="services__form">
			<h2 class="title-md services__title">{{services.title}}</h2>
			<div class="services__subtitle">{{services.subtitle}}</div>
			<form action="#" class="js-form">
				<div class="services__container">
					<div class="services__error js-error-msg"></div>
					<div class="services__row">
						<!--{% for item in services.fields %}
							<div class="services__col services__col_sm">
								{{mixins.input(item)}}
							</div>
						{% endfor %}-->
						<div class="services__col services__col_sm">
							<label class="form-control js-form-parent">
								<input type="text" class="form-control__input js-form-field" placeholder="ФИО"
								data-validation="required" data-validation-error-msg="Не указано ФИО">
							</label>
						</div>
						<div class="services__col services__col_sm">
							<label class="form-control js-form-parent">
								<input type="text" id="phone_mask" class="form-control__input js-form-field" placeholder="Телефон:"
								data-validation="custom" data-validation-regexp="([/+0-9]+)$" data-validation-error-msg="Не указан телефон">
							</label>
						</div>
						<div class="services__col services__col_sm">
							<label class="form-control js-form-parent">
								<input type="text" class="form-control__input js-form-field" placeholder="E-mail:"
								data-validation="email" data-validation-error-msg="Не указан e-mail">
							</label>
						</div>
					</div>
					<div class="services__row">
						<div class="services__col">
							<label class="form-control js-form-parent">
								<textarea class="form-control__textarea js-form-field" placeholder="Комментарий:"
								data-validation="required" data-validation-error-msg="Не указан комментарий"></textarea>
							</label>
							<!--{{mixins.textarea(services.textarea)}}-->
						</div>
					</div>
				</div>
				<div class="services__submit">
					<button class="btn" type="submit">{{services.submit}}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- end services -->