{% import "../../data/_services.html" as services %}

<!-- begin services  -->
<div class="services">
	<div id="services"></div>
	<div class="inner">
		<div class="services__form">
			<h2 class="title-md services__title">{{services.title}}</h2>
			<div class="services__subtitle">{{services.subtitle}}</div>
			<form action="#services" class="js-form">
				<div class="services__container">
					<div class="services__error js-error-msg"></div>
					<div class="services__row">
						<div class="services__col services__col_sm">
							<label class="form-control js-form-parent">
								<input type="text" name="name" class="form-control__input js-form-field" placeholder="ФИО"
								data-validation="required" data-validation-error-msg="Не указано ФИО">
							</label>
						</div>
						<div class="services__col services__col_sm">
							<label class="form-control js-form-parent">
								<input type="text" name="phone" id="phone_mask" class="form-control__input js-form-field phone-field" placeholder="Телефон:"
								data-validation="custom" data-validation-regexp="([/+0-9]+)$" data-validation-error-msg="Не указан телефон">
							</label>
						</div>
						<div class="services__col services__col_sm">
							<label class="form-control js-form-parent">
								<input type="text" name="email" class="form-control__input js-form-field" placeholder="E-mail:"
								data-validation="email" data-validation-error-msg="Неправильный e-mail" data-validation-optional="true">
							</label>
						</div>
					</div>
					<div class="services__row">
						<div class="services__col">
							<label class="form-control js-form-parent">
								<textarea name="comment" class="form-control__textarea js-form-field" placeholder="Комментарий:"
								data-validation="required" data-validation-error-msg="Не указан комментарий" data-validation-optional="true"></textarea>
							</label>
							<!--{{mixins.textarea(services.textarea)}}-->
						</div>
					</div>
				</div>
				<div class="services__submit">
					<button class="btn" type="submit">{{services.submit}}</button>
				</div>
			</form>
			<div class="okay__wrap">
				<svg class="okay__item" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve">
					<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
					<g><path d="M500,10C229.4,10,10,229.4,10,500c0,270.6,219.4,490,490,490s490-219.4,490-490C990,229.4,770.6,10,500,10z M500,964.2C243.6,964.2,35.8,756.4,35.8,500C35.8,243.6,243.6,35.8,500,35.8c256.4,0,464.2,207.8,464.2,464.2C964.2,756.4,756.4,964.2,500,964.2z"/><path d="M431.6,632.2L267.5,468.1l-18.2,18.2l164.1,164.1l18.2,18.2l18.2-18.2l300.9-300.9l-18.2-18.2L431.6,632.2z"/></g>
				</svg>
				<p>Успешно отправлено</p>
			</div>
		</div>
	</div>
</div>
<!-- end services -->