{% set quality = [
	{
		img: './img/step-img1.svg',
		text: 'Высокие <strong>качество &emsp;и скорость</strong> печати '
	},
	{
		img: './img/step-img2.svg',
		text: '<strong>Дорожим</strong> нашими <strong>клиентами</strong>'
	},
	{
		img: './img/step-img3.svg',
		text: 'У нас самые <strong>доступные цены</strong>'
	},
	{
		img: './img/step-img4.svg',
		text: '<strong>Доставка во все&emsp; регионы</strong> России'
	}
] %}

<!-- whyWe -->
<section class="whywe">
	<div class="inner">
		<div class="heading">
			<h3 class="title-md">Почему мы?</h3>
		</div>
		<!-- quality -->
		<div class="quality">
			{% for data in quality %}
				<div class="quality__item">
					<div class="quality__picture">
						<div class="quality__img">
							<img src="{{ data.img }}" alt="img">
						</div>
					</div>
					<div class="quality__text">{{ data.text | safe }}</div>
				</div>
			{% endfor %}
		</div>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- steps -->
		<div class="steps">
			<div class="steps__topic">
				<h3 class="steps__title-lg title-lg">4 шага</h3>
				<p>к уникальному фирменному подарку для ваших клиентов, партнеров, сотрудников</p>
				<button class="btn" type="button">Заказать услуги</button>
			</div>
			<div class="steps__wrap">
				<div class="steps__item">
					<div class="steps__numb">01</div>
					<div class="steps__title">Подберите товары в нашем каталоге</div>
					<p></p>
					<a href="#" class="steps__link">Перейти в каталог</a>
				</div>
				<div class="steps__item">
					<div class="steps__numb">02</div>
					<div class="steps__title">Подготовьте макеты к печати</div>
					<p>Или выберите один из готовых вариантов</p>
				</div>
				<div class="steps__item">
					<div class="steps__img">
						<img src="./img/small-logo2x.png" alt="img">
					</div>
					<div class="steps__title">ПЕЧАТЬ СУВЕНИРОВ</div>
				</div>
				<div class="steps__item">
					<div class="steps__numb">03</div>
					<div class="steps__title">Ждите доставки</div>
					<p>Доставим по всей территории РФ</p>
				</div>
				<div class="steps__item">
					<div class="steps__numb">04</div>
					<div class="steps__title">Дарите ваши фирменные сувениры клиентам, партнерам, сотрудникам</div>
				</div>
			</div>
		</div>
		<!-- ¯\_(ツ)_/¯ -->
	</div>
</section>
<!-- ¯\_(ツ)_/¯ -->