{% set quality = [
	{
		<!-- img: './img/step-img1.svg', -->
		text: 'Высокие <strong>качество &emsp;и скорость</strong> печати '
	},
	{
		<!-- img: './img/step-img2.svg', -->
		text: '<strong>Дорожим<br></strong> нашими <strong>клиентами</strong>'
	},
	{
		<!-- img: './img/step-img3.svg', -->
		text: 'У нас самые <strong>доступные цены</strong>'
	},
	{
		<!-- img: './img/step-img4.svg', -->
		text: '<strong>Доставка во все &emsp;регионы</strong> России'
	}
] %}

{% set steps = [
	{
		class: 'first',
		numb: '01',
		title: 'Подберите товары <br>в нашем каталоге',
		link: 'Перейти в каталог',
		<!-- arr: 'ar1', -->
		arrNumb: '1',
		<!-- arr2: 'ar2', -->
		arrNumb2: '2'
	},
	{
		class: 'second',
		numb: '02',
		title: 'Подготовьте макеты к печати',
		text: 'Или выберите один из готовых вариантов',
		<!-- arr: 'ar3', -->
		arrNumb: '3'
	},
	{
		class: 'third',
		numb: '03',
		title: 'Ждите доставки',
		text: 'Доставим по всей территории РФ',
		<!-- arr: 'ar4', -->
		arrNumb: '4'
	},
	{
		class: 'fourth',
		numb: '04',
		title: 'Дарите ваши фирменные сувениры клиентам, партнерам, сотрудникам',
		<!-- arr: 'ar5', -->
		arrNumb: '5',
		<!-- arr2: 'ar6', -->
		arrNumb2: '6'
	}
] %}

<!-- whyWe -->
<section class="whywe">
	<div id="whywe"></div>
	<div class="whywe__planet"><img src="./img/step_planet.png" alt="img"></div>
	<div class="inner">
		<div class="heading">
			<h3 class="title-md">Почему мы?</h3>
		</div>
		<!-- quality -->
		<div class="quality">
			{% for data in quality %}
				<div class="quality__item">
					<div class="quality__picture">
						<div class="quality__img">
							<img src="{{ data.img }}" alt="img">
						</div>
					</div>
					<div class="quality__text">{{ data.text | safe }}</div>
				</div>
			{% endfor %}
		</div>
		<!-- ¯\_(ツ)_/¯ -->
		<!-- steps -->
		<div class="steps">
			<div class="steps__topic">
				<h3 class="steps__title-lg title-lg">4 шага</h3>
				<p>к уникальному фирменному подарку для ваших клиентов, партнеров, сотрудников</p>
				<a href="#services" class="btn js-go-to" type="button">Заказать услуги</a>
			</div>
			<div class="steps__wrap">
				<div class="steps__nlo"><img src="./img/nlo.png" alt="img"></div>
				<ul class="steps__list">
					{% for data in steps %}
						<li class="steps__item steps__item_{{data.class}}">
							<div class="steps__numb">{{ data.numb }}</div>
							<div class="steps__title">{{ data.title | safe }}</div>
							<img class="steps__arr steps__arr_{{ data.arrNumb }}" src="./img/{{ data.arr }}.svg" alt="img">
							{% if data.arr2 %}<img class="steps__arr steps__arr_{{ data.arrNumb2 }}" src="./img/{{ data.arr2 }}.svg" alt="img">{% endif %}
							{% if data.link %}<a href="#" class="steps__link">{{ data.link | safe }}</a>{% endif %}
							{% if data.text %}<p>{{ data.text | safe }}</p>{% endif %}
						</li>
					{% endfor %}
				</ul>
				<div class="steps__logo">
					<div class="steps__img">
						<img src="./img/small-logo2x.png" alt="img">
					</div>
					<div class="steps__title steps__title_lg">ПЕЧАТЬ <br>СУВЕНИРОВ</div>
				</div>
			</div>
		</div>
		<!-- ¯\_(ツ)_/¯ -->
	</div>
</section>
<!-- ¯\_(ツ)_/¯ -->
