.map
	&__img
		position: relative
		height: 420px
	&__content
		padding: 0
		background: $gray
.contacts
	padding: 50px 0 45px
	width: 100%
	background: none
	&__btn
		text-align: center
.contacts-phones
	margin-bottom: 34px
	color: $white
	text-align: center
	&__item
		display: block
		vertical-align: top
		font-size: 0
		&:not(:last-child)
			&:after
				display: none
	&__link
		+f(null, 25, 30)
.contacts-info
	float: none
	margin: 0 auto 25px
	width: 100%
	max-width: 300px
	&__item
		color: $white
		+f(null, 15, 30)
.contacts-social
	padding-top: 3px
	width: 100%
	text-align: center
	clear: both
	&__link
		background: rgba($white, 0.3)
		.icon
			fill: #2a2e33
.map__img
	background-position: 20% 0
.tel--black
	background-color: transparent
	border: 1px dotted #fff
	padding: 0px 15px
	display: flex
	flex-direction: column
	text-align: center
	align-items: center
	p:first-child
		font-size: 20px
	.tel__title
		height: 2.25rem
		margin-top: 5px
	.tel__text--hidden
		font-size: 25px
		color: $yellow
		.tel__eye
			top: 5px
			right: 0
			width: 40px
			height: 30px
			background-image: url(../img/block__phone__eye.svg), linear-gradient(to right,rgba(53, 60, 67, 0),rgba(53, 60, 67, 0.96) 32%, #353c43)
			background-size: 40px

