.promo
	height: 565px
	justify-content: space-between
	width: 1040px
	&-request
		width: 70%
		margin: 60px 75px 10px 15px
		&__header
			+f(black, 36, 47)
			span
				font-size: 51px
		&__description
			+f(lr, 22, 28)
		&__footer
			width: 310px
			+f(ll, 11, 13)
	&-form
		&__description
			margin-bottom: 40px
	&-img
		display: none
