.products
	position: relative
	padding: 45px 0 65px
	text-align: center
	z-index: 10
	&__list
		font-size: 0
	.btn
		margin-top: 28px
.product
	position: relative
	padding: 35px 0
	width: 20%
	min-height: 270px
	font-size: 18px
	text-align: center
	vertical-align: top
	display: inline-block
	&__link
		display: inline-block
		&:before,
		&:after
			position: absolute
			content: ""
			bottom: 0
			opacity: 0
		&:before
			left: 0
			right: 0
			height: 3px
			background: $yellow
		&:after
			left: 50%
			bottom: -12px
			margin-left: -14px
			+arr(28,15,$yellow,b)
		&.is-active
			svg path,
			svg line,
			svg polyline
				stroke: $white
			svg
				filter: drop-shadow( 0 0 8px #7eebfb)
			.product__name:before,
			&:before,
			&:after
				visibility: visible
				opacity: 1
		+hover
			svg path,
			svg line,
			svg polyline
				stroke: $white
			svg
				filter: drop-shadow( 0 0 8px #7eebfb)
	&__picture
		position: relative
		height: 145px
		line-height: 145px
		display: block
		&:before
			position: absolute
			content: "" 
			z-index: -1
			top: 50%
			left: 50%
			margin: -159px 0 0 -145px
			width: 291px
			height: 318px
			opacity: 0
			transition: opacity .2s ease-in-out, transform .2s ease-in-out
			transform: scale(0.5)
			background: url("../img/shadow-product.png") no-repeat
			background-position: 50% 50% 
			background-size: contain
			.is-active &
				opacity: 1
				transform: scale(1)
	&__img
		line-height: 1
		vertical-align: middle
		display: inline-block
		svg, img
			transition: filter .2s ease-in-out
			display: block
		svg path,
		svg line,
		svg polyline
			stroke: $yellow
			stroke-width: 1.6px
			transition: stroke .2s ease-in-out
	&__name
		margin-top: 5px
		max-width: 155px
		vertical-align: top
		display: inline-block
		&:before
			position: absolute
			content: "" 
			left: 50%
			bottom: -8px
			margin-left: -12px
			z-index: 1
			opacity: 0
			+arr(24,12,$bodyBg,b)
.products-modal
	display: none