.souvenirs
	&__content
		float: right
		padding-top: 45px
		width: 54%
		margin-top: 50px
	&__items
		float: left
		width: 46%
		padding-right: 20px
	&__items-in
		margin: -30px 0 0 -45px
	&__description
		+f('lt', 18, 36)
	&__prev,
	&__next
		top: 230px
		.icon
			font-size: 82px
.souvenir
	&__img
		height: 400px
	&__title,
	&__description
		color: #fff
.souvenirs-bg
	top: -290px
	left: -444px