.souvenirs
	margin-bottom: 217px
	&__container
		padding-bottom: 80px
	&__content
		float: right
		padding-top: 100px
		width: 54%
		text-align: left
	&__items
		float: right
		width: 46%
		padding-right: 20px
	&__items-in
		position: relative
		margin: -30px 0 0 -45px
		max-width: 500px
	&__slider
	&__title
		margin-bottom: 10px
		text-align: left
	&__description
		margin-bottom: 32px
		+f('lt', 22, 36)
	&__prev,
	&__next
		position: absolute
		z-index: 10
		top: 280px
		opacity: 0.35
		background: none
		+t(opacity)
		+hover
			opacity: 1
		.icon
			fill: $white
			font-size: 82px
	&__prev
		left: 0
	&__next
		right: 0
	&__down
		text-align: center

.souvenir
	position: relative
	&__img
		height: 560px
		+vertical
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100%
			animation: fly 4s infinite ease
	&__content
		position: absolute
		bottom: 0
		left: 0
		right: 0
		text-align: center
	&__title,
	&__description
		max-width: 200px
		margin: 0 auto
		color: $darkBlue
		text-align: center
	&__title
		+f('black', 14, 36)
		text-transform: uppercase
	&__description
		+f('ll', 18, 24)

@keyframes fly
	0%, 100%
		transform: translate3d(0,-15px,0) rotate(0)
	50%
		transform: translate3d(0,15px,0) rotate(-5deg)

.souvenirs-bg
	position: absolute
	z-index: -1
	top: -290px
	left: -444px
	width: 2000px

.souvenirs-background
	position: absolute
	top: -100px
	left: 0
	right: 0
	// z-index: -1
	display: none
	img
		position: absolute
		left: 50%
		transform: translate3d(-50%,0,0)
		// opacity: 0.5
	&__shining2
		top: -230px
	&__shining1
		top: 45px
	&__light2
		top: 65px
	&__light1
		top: 55px
	&__shadow
		top: 277px
	&__light1,
	&__light2
		// z-index: -1
		opacity: 0.5
