.quality
	margin: 80px -3% 0
	font-size: 0
	text-align: center
	&__item
		padding: 0 3%
		width: 25%
		+f('ll', 24)
		vertical-align: top
		display: inline-block
	&__picture
		height: 108px
		line-height: 108px 
	&__img
		vertical-align: middle
		display: inline-block
		img
			display: block
	&__text
		margin-top: 30px
		strong
			+f('black')

.steps
	padding: 155px 0 430px
	&__topic
		max-width: 460px
		+f('lt', 24) 
	&__wrap
	&__item
	&__numb
	&__title
	&__link