#whywe
	position: relative
	visibility: hidden
	top: -35px
.whywe
	position: relative
	padding: 40px 0 85px
	&__planet
		position: absolute
		top: 50px
		right: 0
		width: 950px
		+md
			top: 500px
			width: 550px
		+sm
			top: 787px
			right: -88px
		+xs
			display: none
		img
			max-width: 100%
			display: block
	+md
		padding: 67px 0 125px 
	+sm
		padding: 65px 0 70px 
.quality
	margin: 80px -3% 0
	font-size: 0
	text-align: center
	+md
		margin-top: 50px
	&__item
		padding: 0 3%
		width: 25%
		position: relative;
		top: 350px
		+f('ll', 24)
		vertical-align: top
		display: inline-block
		+md
			padding: 0 3%
			font-size: 20px
			line-height: (24/20)
		+sm
			margin-top: 65px 
			padding: 0 8.5%
			width: 50%
		+xs
			padding: 0 20%
			width: 100%
		&:first-child,
		&:nth-child(2)
			+sm
				margin-top: 0
		&--animate
			top: 0px
			transition: all 1s ease
	&__picture
		height: 108px
		line-height: 108px 
	&__img
		vertical-align: middle
		display: inline-block
		img
			display: block
	&__text
		margin-top: 30px
		+sm
			margin-top: 20px
		strong
			+f('black')

.steps
	padding-top: 155px
	+md
		padding-top: 120px
	+sm
		padding-top: 60px
	&__topic
		max-width: 460px
		+f('lt', 24) 
		+md
			max-width: 335px
			font-size: 18px
			line-height: (30/18) 
	.btn
		margin-top: 30px
	&__title-lg
		margin-bottom: 8px
		+md
			margin-bottom: 4px
	&__wrap
		position: relative
		padding-top: 430px 
		+md
			padding-top: 332px
			font-size: 0
			text-align: center
		+sm
			padding-top: 307px
		+xs
			padding-top: 60px
	&__list
		list-style-type: none
		counter-reset: list
	&__item
		position: absolute
		padding-left: 98px
		+f('lli', 15, 24)
		+md
			position: static
			margin-top: 40px 
			padding-left: 35px
			width: 33%
			vertical-align: top
			text-align: left
			display: inline-block
		+sm
			margin-top: 35px
		&:first-child,
		&:nth-child(2)
			+md
				margin-top: 0
		&:nth-child(odd)
			+md
				margin-left: 10%
			+sm
				margin-left: 1%
				padding-right: 16%
				width: 52%
			+xs
				width: 100%
		&:nth-child(even)
			+md
				margin-left: 10%
			+sm
				margin-left: 0
				padding-right: 0
				width: 47%
			+xs
				margin-top: 35px
				width: 100%
		&:nth-child(-n+9)
			.steps__title
				&:before
					+md
						content: "0" (counter(list) ".")
		br
			+sm
				display: none
		&_first
			top: 243px
			left: 37px
		&_second
			top: 143px
			left: 222px
		&_third
			top: 155px
			left: 667px
		&_fourth
			top: 30px
			left: 847px
			min-width: 318px
			+md
				min-width: 0
	&__logo
		position: absolute
		top: 266px
		left: 460px
		padding-left: 0
		text-align: center
		&:before
			display: none
		+md
			position: absolute
			top: 142px
			left: 408px
		+sm
			top: 120px
			left: 276px  
		+xs
			display: none
	&__numb
		position: absolute
		top: 0
		left: 0
		padding: 7px 15px 7px 20px
		color: $black
		+f('black', 36)
		line-height: 1
		text-transform: uppercase
		background-color: $lightBlue 
		+md
			padding: 5px 7px 4px 12px
			font-size: 23px
		+xs
			display: none
		&:before
			position: absolute
			content: ""
			top: 100%
			left: 0
			+arr(6,24,$lightBlue, tl)
			+md
				+arr(4,16,$lightBlue, tl)
		&:after
			position: absolute
			content: ""
			top: 0
			left: 100%
			+arr(12,50,$lightBlue, tl)
			+md
				+arr(8,32,$lightBlue, tl)
		.steps__item_first &
			+md
				top: 180px
				left: 147px
			+sm
				top: 158px
				left: 9px
		.steps__item_second &
			+md
				top: 117px
				left: 259px
			+sm
				top: 96px
				left: 120px
		.steps__item_third &
			+md
				top: 128px
				left: 537px
			+sm
				top: 106px
				left: 404px
		.steps__item_fourth &
			+md
				top: 49px
				left: 641px
			+sm
				top: 30px
				left: 506px
	&__arr 
		position: absolute
		+xs
			display: none
		&_1
			top: 100%
			left: -85px
			width: 75px
			+md
				top: 231px
				left: 97px
				width: 45px
			+sm
				top: 211px
				left: -41px
		&_2
			width: 64px
			top: -34px
			left: 107px
			+md
				width: 40px
				top: 160px
				left: 213px
			+sm
				top: 140px
				left: 72px
		&_3
			width: 234px
			top: 60px
			left: 20px
			+md
				width: 145px
				top: 158px
				left: 267px
			+sm
				top: 140px
				left: 134px
		&_4
			width: 102px
			top: 82px
			left: -102px
			+md
				width: 63px 
				top: 182px
				left: 470px
			+sm
				top: 161px
				left: 338px
		&_5
			top: 83px
			left: -124px
			width: 120px
			+md
				width: 75px 
				top: 100px
				left: 564px
			+sm
				top: 80px
				left: 427px
		&_6
			width: 33px
			top: -130px
			left: 45px
			+md
				width: 21px 
				top: -30px
				left: 668px
			+sm
				top: -52px
				left: 536px
	&__title
		padding-top: 2px
		+f('ll', 18, 24)
		+md
			position: relative
		&_lg
			color: #fc0
			+f('black', 18, 24)
			text-transform: uppercase
			+md
				font-size: 13px
				line-height: (18/13)
		&:before
			+md
				position: absolute
				top: 0
				left: -40px
				color: $yellow 
				+f('black', 20)
				counter-increment: list
				content: (counter(list) ".")
			+xs
				left: -36px
		.steps__logo &
			&:before
				display: none
	&__link
		margin-top: 12px
		line-height: 20px
		transition: border-color .2s ease-in-out
		border-bottom: 1px solid rgba($white, 0.5)
		display: inline-block
		+hover
			border-color: transparent 
		+sm
			margin-top: 4px 
	&__img
		margin: 0 auto 12px
		width: 93px
		+md
			width: 70px
		img
			width: 100%
			display: block
	&__nlo
		position: absolute
		top: -397px
		right: 50px
		width: 575px 
		+md
			top: -408px
			right: -150px
		+sm
			right: -309px
		+xs
			display: none
		img
			max-width: 100%
			display: block
		