---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{% include "partials/_header.html" %}

	{% include "partials/components/_souvenirs.html" %}
	{% include "partials/components/_products.html" %}
	{% include "partials/components/_whyWe.html" %}
	{% include "partials/components/_counters.html" %}
	{% include "partials/components/_clients.html" %}
	{% include "partials/components/_team.html" %}
    {% include "partials/components/_services.html" %}
	{% include "partials/components/_map.html" %}

    <script type="text/javascript">
        var productImages = {
        cup:[
            '../img/IMG_3216.jpg',
            '../img/IMG_3233.jpg',
            '../img/IMG_3235.jpg',
            '../img/IMG_3236.jpg',
            '../img/IMG_3215.jpg',
            // './img/IMG_5785.jpg',
            // './img/IMG_5788.jpg'
         ],
        thermoglass:[
            './img/IMG_3240.jpg',
            './img/IMG_3241.jpg',
            './img/IMG_3242.jpg',
            './img/IMG_3207.jpg'
         ],
        flask:[
            './img/IMG_3204.jpg',
            './img/IMG_3201.jpg',
            './img/IMG_3203.jpg',
            // './img/IMG_5792.jpg'
         ],
        thermos:[
            './img/IMG_3205.jpg',
            './img/IMG_3206.jpg',
            './img/IMG_3249.jpg',
            // './img/IMG_5789.jpg'
         ],
        thermocup:[
            './img/IMG_3244.jpg'
         ],
        sport_bottle:[
         ],
        phone_case:[
            './img/IMG_3209.jpg',
            './img/IMG_3211.jpg',
            './img/IMG_3212.jpg'
         ],
        pillow:[
            './img/IMG_3196.jpg',
            './img/IMG_3198.jpg',
            './img/IMG_3199.jpg'
         ],
        souvenir_plate:[
         ],
        magnet:[
            './img/IMG_3252.jpg',
            './img/IMG_3253.jpg',
            './img/IMG_3254.jpg'
         ],
        glass_holder:[
            './img/IMG_3246.jpg',
            './img/IMG_3247.jpg',
            './img/IMG_3248.jpg'
         ],
        mouse_pad:[
            './img/IMG_3261.jpg',
            './img/IMG_3258.jpg',
            './img/IMG_3259.jpg'
         ],
        t_shirt:[
            './img/IMG_3269.jpg',
            './img/IMG_3270.jpg',
            './img/IMG_3284.jpg',
            './img/IMG_3291.jpg',
            './img/IMG_3292.jpg'
         ],
        t_shirt_color:[
            './img/IMG_5779.jpg',
            './img/IMG_5784.jpg',
            './img/IMG_3291.jpg',
            './img/IMG_3270.jpg'
         ],
        t_shirt_souvenir:[
            './img/IMG_3263.jpg',
            './img/IMG_3264.jpg',
            './img/IMG_3262.jpg'
         ]
        };
    </script>
{% endblock %}
