{% import "../data/_header.html" as header %}

<!-- begin header  -->
<header class="header">
	<div class="menu">
		<div class="inner">
			<button class="btn-nav js-btn-nav">
				<span class="btn-nav__icon"><i></i></span>
				<span class="btn-nav__text">Меню</span>
			</button>
			<a href="{{header.nav[1].href}}" class="menu__link">{{header.nav[1].text}}</a>
			<nav class="nav js-nav">
				<ul class="nav__list">
					{% for item in header.nav %}
						<li class="nav__item">
							<a href="{{item.href}}" class="nav__link">{{item.text}}</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<div class="header__main">
		<div class="inner">
			<ul class="phones">
				{% for item in header.phones %}
					<li class="phones__item">
						<a href="{{item.link}}" class="phones__link">{{item.text}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</header>
<!-- end header -->