{% import "../data/_header.html" as header %}

<!-- begin header  -->
<header class="header">
	<div class="menu">
		<div class="inner">
			<button class="btn-nav js-btn-nav">
				<span class="btn-nav__icon"><i></i></span>
			</button>
			<a href="#" class="logo logo_sm">
				<img src="img/logo.png" alt="Featur-Studio">
			</a>
			<nav class="nav js-nav">
				<ul class="nav__list">
					{% for item in header.nav %}
						<li class="nav__item">
							<a href="{{item.href}}" class="nav__link js-go-to">{{item.text}}</a>
						</li>
					{% endfor %}
					<li class="tel--mobile">
						<a href="{{header.nav[1].href}}" class="menu__link">{{header.nav[1].text}}</a>
					</li>
					<li class="tel--mobile">
						<div class="tel--hidden">
							<p>
								Посмотреть и позвонить
							</p>
							<div class="tel__text--hidden">
								+7 (914) 700-68-77
								<div class="tel__text--hidden tel__eye"></div>
							</div>
						</div>
						<div class="tel--visible">
							<p>
								Звоните прямо сейчас!
							</p>
							<a href="tel:+79147006877" class="hidden__content">+7 (914) 700-68-77</a>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="header__main">
		<div class="inner">
			<div class="header__inner">
				<div class="phones header__phones">
					<!--{% for item in header.phones %}
						<li class="phones__item">
							<a href="{{item.link}}" class="phones__link">{{item.text}}</a>
						</li>
					{% endfor %}-->
					<li class="phones__item">
						<div class="tel--hidden">
							<p class="tel__title">
							Посмотреть и позвонить
							</p>
							<div class="tel__text--hidden">
								+7 (914) 700-68-77
								<div class="tel__text--hidden tel__eye"></div>
							</div>
						</div>
						<div class="tel--visible">
						<p class="tel__title">
						Звоните прямо сейчас
						</p>
							<a href="tel:+79147006877" class="hidden__content">+7 (914) 700-68-77</a>
						</div>
					</li>
				</div>
				<div class="social header__social">
					<a href="mailto:{{header.mail}}" class="social__mail">{{header.mail}}</a>
					<ul class="social__list">
						{% for item in header.social %}
							<li class="social__item">
								<a href="#" class="social__link social__link_{{item.icon}}">{{mixins.icon(item.icon)}}</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="header__logo">
					<div class="header__logo-circle"></div>
					<a href="#" class="logo">
						<img src="img/logo_new.png" alt="Featur-Studio">
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- end header -->
