{% set title = 'нАШИ кЛИЕНТЫ' %}
{% set items = [
	{
		img: 'hackathon.png',
		title: 'Hackathon'
	},
	{
		img: 'sberbank.png',
		title: 'Sberbank'
	},
	{
		img: 'vtb.png',
		title: 'Vtb'
	},
	{
		img: 'lukoil.png',
		title: 'Lukoil'
	},
	{
		img: 'hackathon.png',
		title: 'Hackathon'
	},
	{
		img: 'sberbank.png',
		title: 'Sberbank'
	},
	{
		img: 'vtb.png',
		title: 'Vtb'
	},
	{
		img: 'lukoil.png',
		title: 'Lukoil'
	},
	{
		img: 'hackathon.png',
		title: 'Hackathon'
	},
	{
		img: 'sberbank.png',
		title: 'Sberbank'
	},
	{
		img: 'vtb.png',
		title: 'Vtb'
	},
	{
		img: 'lukoil.png',
		title: 'Lukoil'
	}
] %}