{% set items = [
	{
		text: 'Керамическая кружка',
		svgLink: '../../productSvg/cup.svg'
	},
	{
		text: 'Термостакан',
		svgLink: '../../productSvg/thermoglasses.svg'
	},
	{
		text: 'Аллюминиевая фляжка',
		svgLink: '../../productSvg/aluminum_water_bottle.svg'
	},
	{
		text: 'Термос',
		svgLink: '../../productSvg/thermos.svg'
	},
	{
		text: 'Термокружка',
		svgLink: '../../productSvg/thermocup.svg'
	},
	{
		text: 'Спортивная бутылка',
		svgLink: '../../productSvg/sport_bottle.svg'
	},
	{
		text: 'Чехол на телефон',
		svgLink: '../../productSvg/phone_case.svg'
	},
	{
		text: 'Подушка',
		svgLink: '../../productSvg/pillow.svg'
	},
	{
		text: 'Сувенирная тарелка',
		svgLink: '../../productSvg/souvenir_plate.svg'
	},
	{
		text: 'Магнит',
		svgLink: '../../productSvg/magnet.svg'
	},
	{
		text: 'Костер',
		svgLink: '../../productSvg/bonfire.svg'
	},
	{
		text: 'Коврик для мыши',
		svgLink: '../../productSvg/mouse_pad.svg'
	},
	{
		text: 'Футболка белая',
		svgLink: '../../productSvg/white_t-shirt.svg'
	},
	{
		text: 'Футболка с цветным рукавом',
		svgLink: '../../productSvg/t-shirt_with_colored_sleeves.svg'
	},
	{
		text: 'Футболка сувенирная',
		svgLink: '../../productSvg/souvenir_t-shirt.svg'
	}
] %}