{% set items = [
	{
		text: 'Керамическая кружка',
		svgLink: '../../productSvg/cup.svg',
		name: 'exemple_first'
	},
	{
		text: 'Термостакан',
		svgLink: '../../productSvg/thermoglasses.svg',
		name: 'exemple_second'
	},
	{
		text: 'Аллюминиевая фляжка',
		svgLink: '../../productSvg/aluminum_water_bottle.svg',
		name: 'exemple_first'
	},
	{
		text: 'Термос',
		svgLink: '../../productSvg/thermos.svg',
		name: 'exemple_second'
	},
	{
		text: 'Термокружка',
		svgLink: '../../productSvg/thermocup.svg',
		name: 'exemple_first'
	},
	{
		text: 'Спортивная бутылка',
		svgLink: '../../productSvg/sport_bottle.svg',
		name: 'exemple_second'
	},
	{
		text: 'Чехол на телефон',
		svgLink: '../../productSvg/phone_case.svg',
		name: 'exemple_first'
	},
	{
		text: 'Подушка',
		svgLink: '../../productSvg/pillow.svg',
		name: 'exemple_second'
	},
	{
		text: 'Сувенирная тарелка',
		svgLink: '../../productSvg/souvenir_plate.svg',
		name: 'exemple_first'
	},
	{
		text: 'Магнит',
		svgLink: '../../productSvg/magnet.svg',
		name: 'exemple_second'
	},
	{
		text: 'Костер',
		svgLink: '../../productSvg/bonfire.svg',
		name: 'exemple_first'
	},
	{
		text: 'Коврик для мыши',
		svgLink: '../../productSvg/mouse_pad.svg',
		name: 'exemple_second'
	},
	{
		text: 'Футболка белая',
		svgLink: '../../productSvg/white_t-shirt.svg',
		name: 'exemple_first'
	},
	{
		text: 'Футболка с цветным рукавом',
		svgLink: '../../productSvg/t-shirt_with_colored_sleeves.svg',
		name: 'exemple_second'
	},
	{
		text: 'Футболка сувенирная',
		svgLink: '../../productSvg/souvenir_t-shirt.svg',
		name: 'exemple_first'
	}
] %}