{% set items = [
	{
		text: 'Футболка белая',
		type: 't_shirt',
		svgLink: '../../productSvg/white_t-shirt.svg'
	},
	{
		text: 'Футболка с цветным рукавом',
		type: 't_shirt_color',
		svgLink: '../../productSvg/t-shirt_with_colored_sleeves.svg'
	},
	{
		text: 'Термостакан',
		type: 'thermoglass',
		svgLink: '../../productSvg/thermoglasses.svg'
	},
	{
		text: 'Аллюминиевая фляжка',
		type: 'flask',
		svgLink: '../../productSvg/aluminum_water_bottle.svg'
	},
	{
		text: 'Термос',
		type: 'thermos',
		svgLink: '../../productSvg/thermos.svg'
	},
	{
		text: 'Керамическая кружка',
		type: 'cup',
		svgLink: '../../productSvg/cup.svg'
	},
	{
		text: 'Чехол на телефон',
		type: 'phone_case',
		svgLink: '../../productSvg/phone_case.svg'
	},
	{
		text: 'Термокружка',
		type: 'thermocup',
		svgLink: '../../productSvg/thermocup.svg'
	},
	{
		text: 'Костер',
		type: 'glass_holder',
		svgLink: '../../productSvg/bonfire.svg'
	},
	{
		text: 'Коврик для мыши',
		type: 'mouse_pad',
		svgLink: '../../productSvg/mouse_pad.svg'
	},
	{
		text: 'Футболка сувенирная',
		type: 't_shirt_souvenir',
		svgLink: '../../productSvg/souvenir_t-shirt.svg'
	},
	{
		text: 'Спортивная бутылка',
		type: 'sport_bottle',
		svgLink: '../../productSvg/sport_bottle.svg'
	},
	{
		text: 'Подушка',
		type: 'pillow',
		svgLink: '../../productSvg/pillow.svg'
	},
	{
		text: 'Сувенирная тарелка',
		type: 'souvenir_plate',
		svgLink: '../../productSvg/souvenir_plate.svg'
	},
	{
		text: 'Магнит',
		type: 'magnet',
		svgLink: '../../productSvg/magnet.svg'
	}
] %}

{% set submit = 'Оставить заявку' %}
