{% set title = 'Заказать услуги' %}
{% set subtitle = 'Оставьте ваши контактные данные и наш менеджер обязательно свяжется с вами, чтобы обсудить условия заказа и доставки сувениров' %}

{% set fields = [
	{
		label: 'ФИО:',
		type: 'text',
		validation: 'required',
		errorMsg: 'Не указано ФИО'
	},
	{
		label: 'Телефон:',
		type: 'text',
		validation: 'number',
		errorMsg: 'Не указан телефон'
	},
	{
		label: 'E-mail:',
		type: 'email',
		validation: 'email',
		errorMsg: 'Не указан e-mail'
	}
] %}

{% set textarea = {
	label: 'Комментарий:',
	type: 'comment',
	validation: 'required',
	errorMsg: 'Не указан комментарий'
} %}

{% set submit = 'Оставить заявку' %}