{% set title = ' <strong>Новые технологии</strong> для создания идеального сувенира' %}
{% set description = 'Изготовим фирменный подарок для ваших клиентов, партнеров или сотрудников. Подберите товар <a href="#products" class="souvenirs__link">в нашем каталоге</a> и напечатайте на нем свой уникальный принт' %}
{% set btn = 'Получить скидку' %}
{% set items = [
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	}
] %}
