{% set title = 'наши <strong>космические Технологии</strong> для создания вашего идеального сувенира' %}
{% set description = 'Подберите товар в нашем каталоге  и напечатайте на нем уникальный фирменный подарок для ваших клиентов, партнеров, сотрудников' %}
{% set btn = 'Заказать услуги' %}
{% set items = [
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	},
	{
		img: 'item',
		title: 'брендирование кружки',
		description: 'классический подарок на любой случай'
	}
] %}