{% set title = 'Наша команда' %}

{% set members = [
	{
		img: 'max.jpg',
		name: 'Демчук Максим',
		position: 'Директор',
		description: 'Осуществляет общее руководство компанией, планирует и организует ее деятельность, определяет долгосрочные цели компании, организационную структуру и систему управления.'
	},
	{
		img: 'ivan.jpg',
		name: 'Щепов Иван',
		position: 'Управляющий',
		description: 'Главный управляющий всеми делами компании. В его компетенции все процессы, начиная от самых обыденных, как закупки бумаги и выплаты зарплаты сотрудникам, заканчивая покупкой бумаги и выплатой зарплаты сотрудникам:)'
	}
] %}