{% set title = 'Наша команда' %}

{% set members = [
	{
		img: 'Ivan.png',
		name: 'Иванов Иван Иванович',
		position: 'Директор',
		description: 'Ценовая стратегия допускает сегмент рынка. Исходя из структуры пирамиды Маслоу, партисипативное планирование поддерживает департамент маркетинга и продаж. Медиаплан нетривиален.'
	},
	{
		img: 'Max.png',
		name: 'Максимов Максим Максимович',
		position: 'Управляющий',
		description: 'Ценовая стратегия допускает сегмент рынка. Исходя из структуры пирамиды Маслоу, партисипативное планирование поддерживает департамент.'
	}
] %}