.btn
	padding: 10px 23px
	color: $yellow 
	+f('bold', 18)
	line-height: 1.05
	text-align: center
	text-transform: uppercase
	border-radius: 2px 
	border: 2px solid $yellow 
	transition: color .2s ease-in-out, background-color .2s ease-in-out
	background-color: transparent 
	display: inline-block
	+hover
		color: $black 
		background-color: $yellow