.icon-clock {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-fb {
  width: 0.52em;
  height: 1em;
  fill: initial;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-mail {
  width: 1.36em;
  height: 1em;
  fill: initial;
}
.icon-marker {
  width: 0.83em;
  height: 1em;
  fill: initial;
}
.icon-vk {
  width: 0.8em;
  height: 1em;
  fill: #FFF;
}
